.star-fill{
    color: rgba(255, 255, 0, 0.747);
}

.star{
    color: rgb(94, 89, 89);
}

/* Puntuación */
input[name="scores"] {
    display: none;
}

.clasificacion label {
    color: grey;
    font-size: 30px;
    cursor: pointer;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin-bottom: 0 !important;
}

.clasificacion label:hover,
.clasificacion label:hover~label {
    color: orange;
}

input[name="scores"]:checked~label {
    color: orange;
}

.margin-score>span:first-child {
    margin-left: 15px;
}